<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

@{
    ViewData["Title"] = "Home";
}


<div class="alert alert-success" id="success-alert" style="display:none;"></div>

<div class="alert alert-danger" id="danger-alert" style="display:none;"></div>

<div class="modal" id="addModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Agreement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#addModal').modal('hide');">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="dataForm" src="#">
                    <input id="txtAgreementId" type="text" style="display:none;" />
                    <div class="form-group row">
                        <label for="selProductId" class="col-sm-2 col-form-label">Product</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="selProductId">
                                <option>1</option>
                            </select>
                            <span id="spanProductRequired" style="display:none;color:red;position: absolute;margin: -30px 0px 0px 145px;">Product is required.</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtEffectiveDate" class="col-sm-2 col-form-label">Effective Date</label>
                        <div class="col-sm-4">
                            <input type="date" data-date="" data-date-format="MM/DD/YYYY" class="form-control date" id="txtEffectiveDate" placeholder="MM/dd/YYYY" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtExpirationDate" class="col-sm-2 col-form-label">Expiration Date</label>
                        <div class="col-sm-4">
                            <input type="date" data-date="" data-date-format="MM/DD/YYYY" class="form-control date" id="txtExpirationDate" placeholder="MM/dd/YYYY" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtNewPrice" class="col-sm-2 col-form-label">New Price</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" style="display: inline;" id="txtNewPrice" pattern="\d\.\d{4}" placeholder="####.####" />
                            <span id="spanPriceRequired" style="display:none;color:red;position: absolute;margin: 5px 0 0 3px;">New Price is required.</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">Active</div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="ckbActive">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#addModal').modal('hide');">Close</button>
                <button type="button" class="btn btn-primary" onclick="Save();">Save</button>
            </div>
        </div>
    </div>
</div>

<button id="btnAddNew" class="btn btn-primary" style="margin-right:5px;" onclick="AddNew();">Add New Agreement</button>

<br />
<br />

<table id="tblAgreements" class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Product Group Code</th>
            <th>Product Number</th>
            <th>Effective Date</th>
            <th>Expiration Date</th>
            <th>Product Price</th>
            <th>New Price</th>
            <th>Active</th>
            <th width="130">Action</th>
        </tr>
    </thead>
</table>


<script type="text/javascript">

    var table = new Object();

    function GetLocalDateString(strDate) {
        var dt = new Date();
        var date = new Date(strDate);
        date.setHours(dt.getHours());

        return date.toISOString().split('T')[0];
    }

    function FormatDate(strDate)
    {
        const D = new Date(strDate);                 
        return (D.getMonth() + 1) + "/" + D.getDate() + "/" + D.getFullYear();
    }

    function Edit(oAgreement) {

        $('#txtAgreementId').val(oAgreement.id);
        $('#selProductId option').filter(function () {
            return $(this).text() == oAgreement.productNumber;
        }).prop('selected', true);

        $('#txtEffectiveDate').val(GetLocalDateString(oAgreement.effectiveDate));
        $('#txtExpirationDate').val(GetLocalDateString(oAgreement.expirationDate));
        $("input.date").trigger("change");
        $('#txtNewPrice').val(oAgreement.newPrice);
        $('#ckbActive').prop('checked', oAgreement.active);
        ShowModal("Edit Agreement");
    }

    function Delete(oAgreement) {
        if (window.confirm("Do you really want to delete Agreement?")) {
            var id = oAgreement.id;

            $.ajax({
                contentType: 'application/json',
                success: function (data) {

                    ShowAlert($("#success-alert"), "Agreement successfully deleted.");
                    table.ajax.reload();
                },
                error: function (xhr, status, error) {
                    //alert(xhr.responseText);
                    ShowAlert($("#danger-alert"), "Error during deleting of Agreement!");
                },
                processData: false,
                type: 'DELETE',
                url: '/api/v1/agreements/' + id
            });
        }
    }

    function ShowAlert(obj, message) {
        obj.text(message);
        obj.fadeTo(2000, 500).slideUp(500, function () {
            obj.slideUp(500);
        });
    }

    function AddNew() {
        $('#txtAgreementId').val('0');
        $('#selProductId').prop('selectedIndex', 0);
        var date = new Date();
        $('#txtEffectiveDate').val(date.toISOString().split('T')[0]);
        $('#txtExpirationDate').val(date.toISOString().split('T')[0]);
        $("input.date").trigger("change");
        $('#txtNewPrice').val("");
        $('#ckbActive').prop('checked', false);
        ShowModal("Add Agreement");
    }

    function ShowModal(message) {

        $('#addModal').find('.modal-title').text(message);
        $('#addModal').modal('show');
    }

    function Save() {

        if (!ValidateForm())
            return;

        $('#addModal').modal('hide');
        var obj = new Object();
        obj.productId = $('#selProductId').find(":selected").val();
        obj.effectiveDate = $('#txtEffectiveDate').val();
        obj.expirationDate = $('#txtExpirationDate').val();
        obj.newPrice = $('#txtNewPrice').val();
        obj.active = $('#ckbActive').prop('checked');

        //alert(JSON.stringify(obj));
        id = $('#txtAgreementId').val();
        if (id == '0') {
            // send create agreeement request
            $.ajax({
                contentType: 'application/json',
                data: JSON.stringify(obj),
                dataType: 'json',
                success: function (data) {

                    ShowAlert($("#success-alert"), "Agreement successfully saved.");
                    table.ajax.reload();
                },
                error: function (xhr, status, error) {
                    //alert(xhr.responseText);
                    ShowAlert($("#danger-alert"), "Error during saving Agreement!");
                },
                processData: false,
                type: 'POST',
                url: '/api/v1/agreements'
            });
        }
        else {
            // send update agreeement request
            obj.id = $('#txtAgreementId').val();
            $.ajax({
                contentType: 'application/json',
                data: JSON.stringify(obj),
                dataType: 'json',
                success: function (data) {

                    ShowAlert($("#success-alert"), "Agreement successfully saved.");
                    table.ajax.reload();
                },
                error: function (xhr, status, error) {
                    //alert(xhr.responseText);
                    ShowAlert($("#danger-alert"), "Error during saving Agreement!");
                },
                processData: false,
                type: 'PUT',
                url: '/api/v1/agreements'
            });
        }
    }

    function ValidateForm() {
        var valid = true;
        if ($("#txtNewPrice").val() == '') {
            $("#spanPriceRequired").show();
            valid = false;
        }

        if ($('#selProductId').prop('selectedIndex') == 0) {
            $("#spanProductRequired").show();
            valid = false;
        }

        return valid;
    }

    $(document).ready(function () {

        $("#success-alert").hide();
        $("#danger-alert").hide();

        $("#txtNewPrice").change(function () {
            if ($(this).val() != '')
                $("#spanPriceRequired").hide();
        });

        $("#selProductId").change(function () {
            if ($(this).prop('selectedIndex') != 0)
                $("#spanProductRequired").hide();
        });

        $('#addModal').modal({
            focus: true,
            show: false
        });

        $("input.date").on("change", function () {
            this.setAttribute(
                "data-date",
                moment(this.value, "YYYY-MM-DD")
                    .format(this.getAttribute("data-date-format"))
            )
        }).trigger("change");

        table = $('#tblAgreements').DataTable({
            ajax: {
                url: '/api/v1/agreements',
                dataSrc: 'agreements'
            },
            columns: [
                { data: "userName" },
                { 
                    data: "groupCode", render: function (data, type, row, meta) {
                        return "<div data-toggle='tooltip' data-placement='top' title='" +row.groupDescription + "'>" 
                        + data + "</div>";
                    } 
                },
                { 
                    data: "productNumber", render: function (data, type, row, meta) {
                        return "<div data-toggle='tooltip' data-placement='top' title='" +row.productDescription + "'>" 
                        + data + "</div>";
                    }
                },
                {
                    data: "effectiveDate", render: function (data, type, row, meta) {
                        return FormatDate(GetLocalDateString(data));
                    }
                },
                { 
                    data: "expirationDate", render: function (data, type, row, meta) {
                        return FormatDate(GetLocalDateString(data));
                    } 
                },
                { data: "productPrice" },
                { data: "newPrice" },
                { data: "active" },
                {
                    data: "id", render: function (data, type, row, meta) {
                        return " <button id='btnEdit' class='btn btn-primary' style='margin-right: 5px;' onclick='Edit(" + JSON.stringify(row) + ")'>Edit</button>" +
                            " <button id='btnDelete' class='btn btn-danger' style='margin-right: 5px;' onclick='Delete(" + JSON.stringify(row) + ")'>Delete</button>";
                    }
                }
            ]
        });

        $('[data-toggle="tooltip"]').tooltip();

        let dropdown = $('#selProductId');
        dropdown.empty();

        dropdown.append('<option selected="true" disabled>Choose Product</option>');
        dropdown.prop('selectedIndex', 0);

        // Populate select with list of products
        $.getJSON("/api/v1/products", function (data) {

            //alert(Object.getOwnPropertyNames(products));
            $.each(data.products, function () {
                dropdown.append("<option value='" + this.id + "'>" + this.productNumber + "</option>");
            });
        });


    });
</script>
